.banner-home{
  width: 100%;
  display: grid;
  margin-top:50px;
  }

  .body{
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .img-banner{
  display: grid;
  position: relative;
  border-radius: 12px;
  }





.suggestioncontainer {
  background-color: #f0f0f0;
  border-radius: 12px;
  margin-top:50px;
  padding: 20px;
  display:block;
}

.suggestionHeader {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  color: #222222;
  display:block;
}
/* Section Select from your archive  */
.sectionSelectBox {
  display: grid;
  grid-gap: 15px;
}

.col1{
  display: grid;
  margin: 10px;
}

.col2{
  display: grid;
  margin: 10px;
}

.submitButton1{
  background-color: #9BF2CF;
  font-family: comfortaa, cursive;
  border-radius: 6px;
  color: #222222;
  font-weight: 600;
  font-size: 1em;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: grid;
  margin: 10px auto;
 
}

.submitButton1:hover{
  background-color:#222222;
  color: #E4E4E4;
  transition: 0,3s;
}

.formDiv{
  display: grid;
  grid-gap: 15px;
}

.formsuggestion {
  font-family: "Comfortaa", cursive;
  color: #222222;
  display: grid;
  
}

.formelement{
  border-radius: 10px;
  margin: 8px;
  font-family: "Comfortaa", cursive;
  padding: 5px;
  border:none;
  display: grid;
  margin-left: 20%;
  margin-right: 20%;
  
}


.formelement1{
    border-radius: 10px;
    margin: 8px;
    font-family: "Comfortaa", cursive;
    padding: 5px;
    border:none;
    display: grid;
    
}

.formelement2{
  border-radius: 10px;
  margin: 8px;
  font-family: "Comfortaa", cursive;
  padding: 5px;
  border:none;
  display: grid;
  
}

.formelement3{
  border-radius: 10px;
  margin: 8px;
  font-family: "Comfortaa", cursive;
  padding: 5px;
  border:none;
  display: grid;
  
}

.formelement4{
  border-radius: 10px;
  margin: 8px;
  font-family: "Comfortaa", cursive;
  padding: 5px;
  border:none;
  display: grid;
  
}

.formelement5{
  border-radius: 10px;
  margin: 8px;
  font-family: "Comfortaa", cursive;
  padding: 5px;
  border:none;
  width: 100%;
  
}




.descriptionsuggestion{
    text-align: left;
    height: 15em;
    width: 25em;
    margin-bottom: 30px;
    display: grid;
    
}





.labelBrowseFile{
  background-color: #9BF2CF;
  font-family: comfortaa, cursive;
  border-radius: 6px;
  color: #222222;
  font-weight: 600;
  font-size: 1em;
  font-family: comfortaa, cursive;
  border: none;  
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
}

.labelBrowseFile:hover{
  background-color:#222222;
  color: #e4e4e4;
  transition: 0,3s;
}



.submitButton{
  background-color: #9BF2CF;
  font-family: comfortaa, cursive;
  border-radius: 6px;
  color: #222222;
  font-weight: 600;
  font-size: 1em;
  font-family: comfortaa, cursive;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: grid;
  margin: 40px auto;
}

.submitButton:hover{
  background-color:#222222;
  color: #e4e4e4;
  transition: 0,3s;
}