.homecontainer {
  padding: 20px;
}

.homeheader {
  font-family: "Comfortaa", cursive;
  text-decoration: none;
  color: #222222;
  background-color: #9bf2cf;
  padding: 20px 10px 20px 10px;
}

.preview {
  width: 20em;
  height: 20em;
  border-radius: 5%;
  margin: 5px;
  background-size: cover;
  background-position: center;
}
.preview:hover {
  cursor: pointer;
  border: 2px solid #9bf2cf;
}
.sectiontitle {
  font-family: "Comfortaa", cursive;
  text-decoration: none;
  color: #222222;
}
.sectionsubtitle {
  font-family: "Comfortaa", cursive;
  text-decoration: none;
  color: #5b5b5b;
}

.sectionelementtitle {
  margin: 10px;
  padding-left: 10px;
  font-family: "Comfortaa", cursive;
  color: #222222;
  background-color: #9bf2cf;
  opacity: 70%;
}

.previewrequest {
  border-radius: 5px;
  margin: 5px;
  background-color: #9bf2cf;
  font-family: "Comfortaa", cursive;
}

.previewrequest:hover {
  cursor: pointer;
  background-color: #2f7055;
}

.imgrequestpreview {
  width: 5em;
  height: 5em;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

.sectionelementtitlerequest {
  font-family: "Comfortaa", cursive;
  color: #222222;
  padding-left: 10px;
}
